.git
.github
.env
.env.*
!.env.example

node_modules
**/node_modules
.next
**/.next
pnpm-debug.log*
*.tsbuildinfo

contracts/out
contracts/cache
contracts/broadcast
contracts/lib

bin
*.test
*.log
tmp
temp
